*{
    margin: 0%;
    box-sizing: border-box;
    line-height: 1.6;
}
@font-face {
    font-family:"Mons_Bold";
    src: url("../fonts/Montserrat-Bold.ttf");
}
html{
    font-family: "Mons_Bold";
    padding: 30px 10px;
    text-align: left;
}
h3::first-letter{
    color: #2e8b57;
    font-size: 30px;
}
ul li:nth-of-type(1):first-letter{
    color: #00bfff;
    text-decoration-line: overline;
    padding-top: 80px;
    font-size: 30px;
}
ul li:nth-of-type(2):first-letter{
    color: #c71585;
    text-decoration-line: underline;
    padding-top: 80px;
    font-size: 30px;
}
ul li:nth-of-type(3){
    text-decoration: line-through;
}
ul li:nth-of-type(3):first-letter{
    color: #32cd32;
    text-decoration-line:line-through;
    padding-top: 80px;
    font-size: 30px;
}
section p:nth-of-type(1){
    color: #483d8b;
}
section p:nth-of-type(1)::first-line{
    font-size: 20px;
}
section p:nth-of-type(2)::first-letter{
    color: #c71585;
    font-size: 30px;
}
section p:nth-of-type(2)::first-line{
    color: #2e8b57;
}
section p:nth-of-type(3){
    font-size: 10px;
}
section p:nth-of-type(3)::first-letter{
    color: #c71585;
    font-size: 20px;
}
section p:nth-of-type(3)::first-line{
    color: #2e8b57;
}
section p:nth-of-type(4){
    font-size: 20px;
}
section p:nth-of-type(4)::first-letter{
    color: #c71585;
    font-size: 30px;
}
section p:nth-of-type(4)::first-line{
    color: #2e8b57;
}
section p:nth-of-type(5){
    font-size: 10px;
}
section p:nth-of-type(5)::first-letter{
    color: #c71585;
    font-size: 20px;
}
section p:nth-of-type(5)::first-line{
    color: #2e8b57;
}
section p:nth-of-type(6){
    font-size: 20px;
}
section p:nth-of-type(6)::first-letter{
    color: #c71585;
    font-size: 30px;
}
section p:nth-of-type(6)::first-line{
    color: #2e8b57;
}