*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background-image {
    background-image:url("../img/pc.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 5px 5px 5px 5px;

}